<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hps.shop.mapper.TradeMqProducerLogMapper">
  <resultMap id="BaseResultMap" type="com.hps.shop.pojo.TradeMqProducerLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="msg_topic" jdbcType="VARCHAR" property="msgTopic" />
    <result column="msg_tag" jdbcType="VARCHAR" property="msgTag" />
    <result column="msg_key" jdbcType="VARCHAR" property="msgKey" />
    <result column="msg_body" jdbcType="VARCHAR" property="msgBody" />
    <result column="msg_status" jdbcType="INTEGER" property="msgStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, group_name, msg_topic, msg_tag, msg_key, msg_body, msg_status, create_time
  </sql>
</mapper>